@page "/ConsultaPago"
@inject PagosBLL pagosBll
@inject NotificationService NotificationService

<PageTitle>Consultas</PageTitle>
<div class="card">
    <div class="card-header">
        <h2>Consultas de pagos registrado</h2>
        <form>
                <div class="input-group d-flex align-items-end">
            <div class="flex-fill mx-2"> 
                    <label>Filtro </label>  
                    <select class="form-control col-2" @bind="Filtro">
                        <option value="0">Todo</option>
                        <option value="1">PagoID</option>
                        <option value="2">Fecha</option>
                        <option value="3">PersonaId</option>   
                        <option value="4">Concepto</option>
                        <option value="5">Monto</option>   
                    </select>
            </div>
                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio" disabled="@(!HabilitarCriterio)"/>
                    </div>

                    <button type="button" class="btn btn-success mr-2" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2"/> Buscar
                    </button>
    
                </div>
            </form>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">PagoID</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">PersonaId</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var pagos in FiltroPagos)
                {
                    <tr>
                        <td>@pagos.PagoId</td>
                        <td>@pagos.Fecha</td>
                        <td>@pagos.PersonaId</td>
                        <td>@pagos.Concepto</td>
                        <td>@pagos.Monto</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public bool HabilitarCriterio {get{return Filtro != "0";}}
    public string? Filtro { get; set; }
    public string? Criterio { get; set; }
    public List<Pagos> FiltroPagos { get; set; } = new List<Pagos>();
    protected override async Task OnInitializedAsync()
    {
        FiltroPagos = pagosBll.GetList(o => true);
    }
    private void Buscar()
    {
    double valorNumerico;
    bool esNumerico = double.TryParse(Criterio, out valorNumerico);

        switch (Filtro)
        {
            case "0":
                FiltroPagos = pagosBll.GetList(o => true);
                break;                
            case "1":
                int id;
                if (!int.TryParse(Criterio, out id))
                {
                    ShowNotification(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Debe colocar un valor entero."
                    });
                    return;
                }
                FiltroPagos = pagosBll.GetList(o => o.PagoId == id);
                break;
            case "2":
                if (DateTime.TryParse(Criterio, out DateTime fechaV))
                {
                    FiltroPagos = pagosBll.GetList(o => o.Fecha.Date == fechaV.Date);
                }
                else
                {
                    ShowNotification(
                        new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "Debe colocar una fecha válida en formato dd/MM/yyyy."
                        }
                    );
                }
                break;
            case "3":
                int IdPersona;
                if (!int.TryParse(Criterio, out IdPersona))
                {
                    ShowNotification(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Debe colocar un valor entero."
                    });
                    return;
                }
                FiltroPagos = pagosBll.GetList(o => o.PersonaId == IdPersona);
                break;
            case "4":
            if (string.IsNullOrEmpty(Criterio))
            {
                ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Debe escribir un Concepto para buscar."
                });
                return;
            }
                FiltroPagos = pagosBll.GetList(o => o.Concepto.Contains(Criterio));
                break;
            case "5":
            esNumerico = double.TryParse(Criterio, out valorNumerico);
            if (!esNumerico)
            {
                ShowNotification(
                    new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Debe colocar un valor numérico para la búsqueda por Monto."
                    }
                );
                return;
            }
                FiltroPagos = pagosBll.GetList(o => o.Monto == valorNumerico);
                break;
            default:
                FiltroPagos = pagosBll.GetList(o => true);
                break;
        }
        if (!FiltroPagos.Any())
        {
            ShowNotification(new NotificationMessage
            {
                Severity = NotificationSeverity.Warning,
                Summary = "No se encontraron resultados."
            });
        }
    }
    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }
}


    