@page "/pagoDetalle"
@**@
@inject PagosDetalleBLL pagosDetalleBLL
@inject PagosBll pagoBLL
@inject PrestamosBLL prestamosBLL

<EditForm Model="@pagodetalle">
	<div class="card">
		<div class="card-header">
		    <h2>Registro</h2>
		</div>
		<div class="card-body">
            <!--pgdetalles ID-->
			<div class="form-row">
				<div class="col-3">
					<label class="text-left">ID</label>
					<InputNumber @bind-Value="pagodetalle.Id" class="form-control" placeholder="Ingrese su ID"/>
                    <br>
                    <button type="button" @onclick="Buscar" class="btn btn-primary"> <i class="oi oi-zoom-in"></i>Buscar</button>
				</div> 
			</div>
            <!--Pgdetalles PagoID-->
            <div class="col-md-3 position-relative">
                <label class="form-label">Pago ID</label>
				<InputSelect class="form-select" @bind-Value="pagodetalle.PagoId">
				@foreach (var pagoexistente in pagoBLL.GetList(o => true))
				{
					<option value="@pagoexistente.PersonaId">@pagoexistente.PagoId</option>
				}
				</InputSelect>
			</div>
			

            <!--Pgdetalles Prestamos ID-->
            <div class="col-md-3 position-relative">
                <label class="form-label">Prestamos ID</label>
				<InputSelect class="form-select" @bind-Value="pagodetalle.PrestamoId">
				@foreach (var prestamosexistente in prestamosBLL.GetList(o => true))
				{
					<option value="@prestamosexistente.PrestamoId">@prestamosexistente.PersonaId</option>
				}
				</InputSelect>
			</div>

            
            <!--pgdetalles Valorpagado-->          
			<div class="form-row">
				<div class="col-7">
					<label class="text-left">ValorPagado</label>
					<InputNumber @bind-Value="pagodetalle.ValorPagado" class="form-control" placeholder="Ingrese el Valor pagado"/>
				</div>
			</div>
            <!--Pagodetalles Botones-->
		<div class="card-footer">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-primary" @onclick="Nuevo" ><i class="oi oi-file"></i> Nuevo</button>
				<button type="button" class="btn btn-success" @onclick="Guardar"><i class="oi oi-book"></i> Guardar</button>
				<button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash"></i>Eliminar</button>
			</div>
		</div>
	</div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id{get; set;}
    public PagosDetalle pagodetalle {get; set;} = new PagosDetalle();
    protected override void OnInitialized()
    {
        if(id > 0){
            this.pagodetalle.Id = id;
            this.Buscar();
        }
    }
    void Buscar(){
        var pagosDetalleEncontrado = pagosDetalleBLL.Buscar(pagodetalle.Id);

        if(pagosDetalleEncontrado != null){
            this.pagodetalle  = pagosDetalleEncontrado;
        }
    }
    void Nuevo(){
        this.pagodetalle = new PagosDetalle();
    }
    bool validar(){
        if(pagodetalle.PrestamoId == 0){
            return false;
        }
        return true;
    }
    void Guardar(){
        if(!validar()){
            return;
        }
        if(pagosDetalleBLL.Guardar(this.pagodetalle))
            this.Nuevo();
    }
    void Eliminar(){
        if(pagosDetalleBLL.Eliminar(pagodetalle)){
            Nuevo();
        }
    }
}
